<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="base :: headcopy"></div>

<body>
<div th:replace="base :: navcopy"></div>
<div class="grid-container">

    <div th:include="base :: mainiconcopy"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2 th:text="${recipe.name}">Recipe name</h2>
                </div>
                <div class="grid-50">
                    <h2 class="flush-right">
                        <a href="#">
                            <img th:src="@{/images/favorite.svg}" height="16px"/>
                        </a>
                    </h2>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <img th:src="@{'/recipes/'+${recipe.id}+'/image'}"/>
                    </p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.name}">Recipe Name</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.description}">Recipe Description</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p th:text="${recipe.category}">Recipe Category</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.preparationTime + ' minutes'}">Preparation Time</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.cookTime +' minutes'}">Cook Time</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <label> Quantity </label>
                    </p>
                </div>

                <div class="ingredient-row" th:each="i : ${recipe.ingredients}">
                    <div class="prefix-20 grid-30">
                        <p th:text="${i.name}">Ingredient Name</p>
                    </div>
                    <div class="grid-30">
                        <p th:text="${i.condition}">ingredient Condition</p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p th:text="|${i.quantity} ${i.measurement}|">
                            2
                        </p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p>
                        <label> Description </label>
                    </p>
                </div>

                <div class="instruction-row">
                    <div class="prefix-20 grid-80" th:each="s : ${recipe.instructions}">
                        <p th:text="${s}">
                            Step Name and Description
                        </p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- favoriteRecipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
</body>
</html>
