<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: headcopy"></div>
<body>
<div th:replace="base :: navcopy"></div>
<div class="grid-container">
    <div th:include="base :: mainiconcopy"></div>
    <div class="grid-100">
        <div class="recipes">

            <form th:action="@{${action}}" enctype="multipart/form-data" method="post" th:object="${recipe}">
                <div class="grid-100 row controls">
                    <div class="grid-50">
                        <h2 th:text="${heading}"></h2>
                    </div>
                    <div class="grid-50">
                        <div class="flush-right">
                            <input class="button" type="submit" th:value="${submit}"/>
                            <a th:href="@{|/recipes|}" class="secondary">
                                <button class="secondary">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:if="${recipe.createdBy}" th:field="*{createdBy}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Name </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p><input type="text" th:field="*{name}"/>
                        <div class="error-message"
                             th:if="${#fields.hasErrors('name')}"
                             th:errors="*{recipe.name}">
                        </div>
                        </p>
                    </div>
                </div>
                <div class="grid-100 row">
                    <div class="grid-20">
                        <p>
                            <label> Photo </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p>
                            <img th:if="${recipe.image}" th:src="@{'/recipes/'+${recipe.id}+'/image'}" height="256" width="256"/>
                            <input type="file" name="uploadedFile" id="uploadedFile"/>
                            <!--<img alt="Image" th:src="@{image/recipeImage}" width="250" height="250"/>-->
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Description </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p><textarea rows="4" th:field="*{description}"></textarea>
                        <div class="error-message"
                             th:if="${#fields.hasErrors('description')}"
                             th:errors="*{recipe.description}">
                        </div>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Category </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <select th:field="*{category}">
                                <option value="" disabled="disabled">Recipe Category</option>
                                <option th:each="c : ${categories}"
                                        th:value="${c.name}"
                                        th:text="${c.name}">All Categories
                                </option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Prep Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <input type="number" th:field="*{preparationTime}"/>
                        <div class="error-message"
                             th:if="${#fields.hasErrors('preparationTime')}"
                             th:errors="*{preparationTime}"></div>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Cook Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <input type="number" th:field="*{cookTime}"/>
                        <div class="error-message"
                             th:if="${#fields.hasErrors('cookTime')}"
                             th:errors="*{cookTime}"></div>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Ingredients </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Item </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Condition </label>
                        </p>
                    </div>
                    <div class="grid-15">
                        <p class="label-spacing">
                            <label> Quantity </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Measurement </label>
                        </p>
                    </div>

                    <div th:each="ingredient: *{ingredients}">
                        <div class="ingredient-row" th:id="'ingredientNumber' + ${ingredientStat.index}">
                            <div class="prefix-20 grid-20">
                                <input type="hidden" th:field="*{ingredients[__${ingredientStat.index}__].id}"/>
                                <p>
                                    <input th:field="*{ingredients[__${ingredientStat.index}__].name}"/>
                                </p>
                            </div>
                            <div class="grid-20">
                                <p>
                                    <input th:field="*{ingredients[__${ingredientStat.index}__].condition}"/>
                                </p>
                            </div>
                            <div class="grid-15">
                                <p>
                                    <input class="quantity" th:field="*{ingredients[__${ingredientStat.index}__].quantity}"/>
                                </p>
                            </div>
                            <div class="grid-20">
                                <p>
                                    <select th:field="*{ingredients[0].measurement}"><br/>
                                        <option value="" disabled="disabled">Measurement</option>
                                        <option th:each="i : ${measurements}"
                                                th:value="${i.name}"
                                                th:text="${i.name}">Unknown
                                        </option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="newIngredientButton" class="prefix-20 grid-80 add-row">
                        <p>
                            <button type="button" id="newIngredient">+ Add Another Ingredient</button>
                        </p>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Instructions </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Steps </label>
                        </p>
                    </div>
                    <div class="grid-60">
                        <p class="label-spacing">
                            <label> Description </label>
                        </p>
                    </div>

                    <div class="instruction-row">
                        <div class="prefix-20 grid-20">
                            <p text="STEP 1">STEP 1</p>
                        </div>
                    </div>

                    <div class="instruction-row">
                        <div class="grid-50">
                            <p>
                                <input type="text" th:field="*{instructions[0]}"/>
                            <div class="error-message"
                                 th:if="${#fields.hasErrors('instructions[0]')}"
                                 th:errors="*{instructions[0].description}"></div>
                            </p>
                        </div>
                    </div>

                    <div class="prefix-20 grid-80 add-row">
                        <p>
                            <button>+ Add Another Step</button>
                        </p>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="row">&nbsp;</div>
            </form>
        </div> <!-- favoriteRecipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
</body>
</html>
