<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="base :: headcopy"></div>

<body>
<div th:replace="base :: navcopy"></div>
<div class="grid-container">

    <div th:include="base :: mainiconcopy"></div>

    <div class="grid-100">

        <div class="recipes">
            <div class="grid-100 row controls">
                <form action="/search" method="get" style="margin: -5px 0 75px">
                    <div class="grid-25">
                        <select name="category">
                            <option value="">All Categories</option>
                            <option th:each="category: ${categories}"
                                    th:value="${category.name}"
                                    th:text="${category.name}">
                                Breakfast</option>
                        </select>
                    </div>
                    <div class="grid-35">
                        <input placeholder="Search..." name="searchQuery" th:value="${search}"/>
                    </div>
                    <div class="grid-40">
                        <p style="display:inline;">Search by:</p>
                        <select name="method" style="width: 60%; margin-left: 10px;">
                            <option value="description">Description</option>
                            <option value="ingredient">Ingredient</option>
                        </select>
                    </div>
                </form>

            </div>

            <div class="grid-100 row controls">
                <div class="flush-right">
                    <form action="/recipes/add">
                        <button style="margin-right: 10px">+ Add Recipe</button>
                    </form>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row addHover" th:each="recipe : ${allRecipes}">

                <div class="grid-70">
                    <p>

                <span>
                    <form th:replace="base :: favoritedHeart"></form>
                    <a th:href="@{|/recipes/${recipe.id}|}" th:text="${recipe.name}"></a>
                </span>

                    </p>
                </div>

                <div class="hoverBlock" th:if="${authenticated}">
                    <div class="grid-30">
                        <div class="flush-right">
                            <p>
                                <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/images/edit.svg}" height="12px"/> Edit </a>
                            <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post"><button type="submit"><img th:src="@{/images/delete.svg}" height="12px"/> Delete </button></form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- favoriteRecipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
</body>
</html>
