<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <title>My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'
        type='text/css'/>
  <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>

<nav>
  <a th:href="@{/signup}">
    sign-up
  </a>
  &bull;
  <a th:href="@{/login}">
    login
  </a>
</nav>

<div class="grid-container">
  <div th:include="base :: mainiconcopy"></div>

  <div class="grid-100">
    <div class="recipes">
      <form th:action="@{/login}" method="post" th:object="${user}">
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Username" th:field="*{username}"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Password" type="password" th:field="*{password}"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <button>Login</button>
          </p>
        </div> <div class="clear"></div>
      </form>
    </div> <!-- recipes -->
  </div> <!-- grid-100 -->
</div> <!-- grid-container -->
</body>
</html>
