<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="base :: headcopy"></div>

<body>
<div th:replace="base :: navcopy"></div>
<div class="grid-container">

    <div th:include="base :: mainiconcopy"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-100">
                    <h2 th:text="${name}">Name</h2>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row controls">
                <div class="grid-100">
                    <h2 style="text-align: center;">
                        <img src="/images/favorite.svg" height="12px"/>
                        <img src="/images/favorite.svg" height="12px"/>
                        <img src="/images/favorite.svg" height="12px"/>
                        Favorites Recipes
                        <img src="/images/favorite.svg" height="12px"/>
                        <img src="/images/favorite.svg" height="12px"/>
                        <img src="/images/favorite.svg" height="12px"/>
                    </h2>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row addHover" th:each="fRecipe : ${favoriteRecipes}">
                <div class="grid-70">
                    <p>
              <span>
                    <img src="/images/favorited.svg" height="12px"/>
                    <a th:href="@{|/recipes/${fRecipe.id}|}" th:text="${fRecipe.name}"></a>
                </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row controls">
                <div class="grid-100">
                    <h2 style="text-align: center;">Your Own Recipes</h2>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row addHover" th:each="oRecipe : ${ownRecipes}">
                <div class="grid-70">
                    <p>
              <span>
                    <a th:href="@{|/recipes/${oRecipe.id}|}" th:text="${oRecipe.name}"></a>
                </span>
                    </p>
                </div>
                <div class="hoverBlock" th:if="${authenticated}">
                    <div class="grid-30">
                        <div class="flush-right">
                            <p>
                                <a th:href="@{|/recipes/${oRecipe.id}/edit|}">
                                    <img th:src="@{/images/edit.svg}" height="12px"/>Edit
                                </a>
                            <form th:action="@{|/recipes/${oRecipe.id}/delete|}" method="post"><button type="submit"><img th:src="@{/images/delete.svg}" height="12px"/> Delete </button></form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- favoriteRecipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
