<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.com">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>My Recipes</title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  </head>


<body>

<nav>
  <a th:href="@{/signup}">
    sign-up
  </a>
  &bull;
  <a th:href="@{/login}">
    login
  </a>
</nav>

<div class="grid-container">

<!--  <div th:replace="template :: chef-logo"></div>-->

  <div class="grid-100">
  <!--<div th:replace="template :: flash"></div>-->
    <div class="recipes">
      <form th:action="@{/newUser}" method="post" th:object="${user}" id="signupForm">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input th:field="*{name}" placeholder="Name"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input th:field="*{username}" placeholder="Username"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input th:field="*{password}" placeholder="Password" type="password" id="firstPassword"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Password Again" type="password" id="secondPassword"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <button type="button" id="signupButton">Sign-up</button>
          </p>
        </div> <div class="clear"></div>
      </form>
    </div> <!-- recipes -->
  </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
